<% layout('layouts/bolierplate') %> 
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id%>?_method=PUT " method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %> " required>
                <div class="valid-feedback">
                    That's right!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %> " required>
                <div class="valid-feedback">
                    That's right!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %> " required>
                <div class="valid-feedback">
                    That's right!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="price-input" placeholder="0.0" name="campground[price]" value="<%= campground.price %> " required>
                    <div class="valid-feedback">
                        That's right!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" value=" " required> <%= campground.description %> </textarea>
                <div class="valid-feedback">
                    That's right!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success" >Edit Campground</button>
            </div>

            <div>
                <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
            </div>
        </form>

    </div>
</div>

<script>
    // Bootstrap  form validation
    (function () {
      'use strict'
      const forms = document.querySelectorAll('.validated-form')
      Array.from(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>


