<% layout('layouts/bolierplate') %> 
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %> " alt="">
            <div class="card-body">
                <h1 class="card-title"><%= campground.title %></h1>
                <p class="card-text"><%= campground.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"> <%= campground.location %> </li>   
                <li class="list-group-item "> Submitted by <%= campground.author.username %> </li>  
                <li class="list-group-item"> $<%= campground.price %>/night</li>  
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST"">
                    <button class="btn btn-danger"> Delete </button>
                 </form> 
                 <a class="card-link btn btn-primary" href="/campgrounds/">Back Campgrounds</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Leave a review</h2>

        <form action="/campgrounds/<%= campground._id %>/reviews " method="POST" novalidate class="mb-3 validated-form " >
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label " for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <div class="valid-feedback">
                That's right!
            </div>
            <button class="btn btn-success">Submit</button>
        </form>

        <% for(let review of campground.reviews){ %> 
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title">Rating : <%= review.rating %></h1>
                    <p class="card-text">Review : <%= review.body %> </p>
                    <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id%>?_method=DELETE " method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %> 
    </div>
</div>


